{% extends 'base.html.twig' %}
{% block title %}Weproject1: Accueil
{% endblock %}
    {% block body %}
    {% block header %}
    {% include "partials/_header.html.twig" %}
    {% endblock %}
        <div class="container">
        <div class="jumbotron">
        <h1 class="display-4">Hello, Guys</h1>
        <p class="lead">Passionner par le Developement Web avec le language PHP, J'ai vu la necessiter d'etudier le framework SYMFONY</p>

        <p>Ce framework va m'aider d'evoluer de plus dans le DevWeb</p>
        <a class="btn btn-primary btn-sm" href="#" role="button">Savoir Plus</a>
        </div>
        </div>
        <div>
                <div class="container py-3">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <h2>Titre 1</h2>
                                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                                 to featured content or information.</p> 
                        </div>
                        
                        <div class="col-12 col-lg-4">
                            <h2>Titre 2</h2>
                                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                                 to featured content or information.</p>
                        </div>
                        <div class="col-12 col-lg-4">
                            <h2> Titre 3</h2>
                                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                                 to featured content or information.</p>
                         </div>
                    </div>
                </div>
        </div>
    {% endblock %}